@model IEnumerable<FashionShop.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Đơn hàng</h2>
<div class="text-right py-2">
    <a class="round-black-btn" href="@Url.Action("Create")">Thêm</a>
</div>
<div class="row">
    <div class="table-responsive table-hover">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Sản phẩm</th>
                    <th>Thông tin</th>
                    <th>Trạng thái</th>
                    <th>Tổng tiền</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="~/assets/images/@item.Product.Image"
                                         alt=""
                                         style="width: 45px; height: 45px"
                                         class="rounded-circle" />
                                    <div class="mx-3">
                                        <p class="fw-bold mb-1">@item.Product.Name</p>
                                        <p class="text-muted mb-0">Số lượng: @item.Quantity</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">Đơn giá: @(item.Product.Discount != null ? (item.Product.Price - item.Product.Discount)?.ToString("n0") : (item.Product.Price)?.ToString("n0")) VNĐ</p>
                                <p class="text-muted mb-0">Thương hiệu: @item.Product.Branch.Name</p>
                            </td>
                            <td>
                                @{
                                    if (@item.Status == FashionShop.Shared.StatusConst.WaitConfirm)
                                    {
                                        <span class="badge badge-warning rounded-pill d-inline">Chờ xác nhận</span>
                                    }
                                    else if (@item.Status == FashionShop.Shared.StatusConst.Confirmed)
                                    {
                                        <span class="badge badge-primary rounded-pill d-inline">Đã xác nhận</span>
                                    }
                                    else if (@item.Status == FashionShop.Shared.StatusConst.Shipping)
                                    {
                                        <span class="badge badge-info rounded-pill d-inline">Đang giao</span>
                                    }
                                    else if (@item.Status == FashionShop.Shared.StatusConst.Done)
                                    {
                                        <span class="badge badge-success rounded-pill d-inline">Hoàn thành</span>
                                    }
                                }
                            </td>
                            <td>@(item.Total?.ToString("n0")) VNĐ</td>
                            <td class="text-center">
                                <a href="@Url.Action("Edit", new { @id = item.Id })" class="btn btn-sm btn-info">
                                    <i class="fa fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="@Url.Action("Details", new { @id = item.Id })" class="btn btn-sm btn-warning">
                                    <i class="fa fa-solid fa-circle-info"></i>
                                </a>
                                <a href="@Url.Action("Delete", new { @id = item.Id })" class="btn btn-sm btn-danger">
                                    <i class="fa fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    }


                }


            </tbody>
        </table>
    </div>
</div>